@import '~antd/dist/antd.css';



.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background: #025683;
}
[data-theme="dark"] .ant-layout-header {
  background: #025683;
}
[data-theme="dark"] .ant-layout-footer {
  background: #025683;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background: #acd3ee;
}
[data-theme="dark"] .ant-layout-sider {
  background: #7dbcea;
}
.ant-layout-content {
  min-height: 280px;
  color: #fff;
  line-height: 275px;
  background: rgb(224, 234, 241);
}
[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
}

#components-layout-demo-top-side .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}